* {
	font-family: "Mont-Regular";
    padding: 0;
}

img {
    width: 100%;
}

.card-title, .staff__text_title {
    font-family: "Mont-Bold" ;
    font-size: 1em;
    color: #4B5258;
    line-height: 25px;
    font-weight: 800;
    
}

.card-text, .staff__text_main, .card-text__link  {
    font-family: "Mont-Regular" ;
    font-size: 12px;
    color: #4B5258;
    line-height: 18px;
}

.competitors-cards, .professional-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.4fr;
    gap: 20px;
    width: 53vw;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
}

.staff {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(./assets/images/Часы.png);
    border-radius: 30px;
    box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.13);
}

    .staff_img {
    align-items: stretch;
    padding-bottom: 0;
    margin-bottom: 0;
    }

.staff-card {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 20px;
    align-items: center;
}


.card {
    border-radius: 20px;
    padding: 0;
    box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.13);
}

.competitors {
    margin-top: 50px;
}

    .competitors__text {
        width: 46vw;
        margin: 0 auto;
    }

        .competitors__text p {
            margin: 10px;
        }

        .competitors__text_title {
            display: inline;
            background-color:  rgb(255,194,77);
        }

.text-title {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: #FFFFFF ;
    font-family: "Mont-SemiBold" ;
    font-size: 22px;
    line-height: 33px;
}

.text-main {
    font-family: "Mont-Regular" ;
    font-size: 30px;
    color: #4B5258;
    line-height: 45px;
}

.competitors__text_fact, .cleaning__text_fact {
    font-family: "Mont-SemiBold" ;
    font-size: 22px;
    line-height: 33px;
    font-weight: 600; 
    color: #959A9D;
}

span {
    font-weight: bold;
}

.warning {
    background-color: rgb(67,170,255);
}

    .warning__text {
        color: #FFFFFF;
        padding: 0;
    }

        .warning__text_title {
            font-family: "Mont-Bold" ;
            font-size: 13px;
            line-height: 18px;
            font-weight: 800; 
        }

    .warning__link, .warning__text_main  {
        font-family: "Mont-Regular" ;
        font-size: 11px;
        line-height: 17px;
        font-weight: 600;
    }

.professional {
    margin-top: 100px;
}

    .professional__text_fact {
        background-color:  rgb(255,194,77);
        display: inline-block;
        border-radius: 40px;
    }

.request {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 278px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

    .request__girl {
        position: absolute;
        z-index: 0;
        height: 278px;
        width: 53vw;
        max-width: 1024px;
    }

    .request__background {
        position: absolute;
        z-index: -1;
        height: 278px;
        width: 53vw;
        max-width: 1024px;
    }

    .request__title  {
        font-family: "Mont-Regular" ;
        font-size: 20px;
        line-height: 28px;
        font-weight: 800;
        color: #FFFFFF;
        padding: 40px 0 30px 60px;
    }

    .request__phone {
        display: inline;
        padding: 20px;
        border-radius: 30px;
        border: 0;
    }

    .request__form {
        margin: 10px 0 10px 0;
        padding-left: 60px;
    }

    .request__politics {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0 50px 60px;
        color: white;
        cursor: pointer;
        gap: 5px;
    }

        .request__politics img {
            display: inline;
            align-items: stretch;
            width: 15px ;
            height: 15px;
            background-color:  rgb(255,194,77);
            padding: 2px;
            border-radius: 2px;
        }

        .request__politics p {
            margin-bottom: 0;
        }

.button {
    display: inline;
    background-color:  rgb(255,194,77);
    padding: 20px 60px 20px 60px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.cleaning {
    margin-top: 200px;
}

    .cleaning .cleaning__text_main {
        font-family: "Mont-Regular" ;
        font-size: 30px;
        line-height: 45px;
        font-weight: 600;
        color: #4B5258;
        margin-bottom: 0;
    }

    .cleaning__text_main span {
        color: #43AAFF;
    }

    .cleaning__card-title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 800;
    }

    .cleaning__img {
        height: 95px;
        width: 95px;
    }

.cleaning-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 53vw;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 120px;
}

.card-text span {
    color: #43AAFF;
}

    .card-text__size {
        border-radius: 30px;
        padding: 0;
        border: 1px solid #43AAFF;
        max-width: 150px;
        padding: 15px 10px 15px 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .card-text__link {
        margin-top: 10px;
    }

.btn {
    font-family: "Mont-SemiBold" ;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #43AAFF;
    padding: 15px 10px 15px 10px;
    border-radius: 30px;
    border: 0;
}

.card-link {
    color: #43AAFF;
}

.general {
    padding-top: 35px;
}